﻿@model Revolver.Models.Image

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Image</h4>
    <hr />
	<dl class="dl-horizontal">

		<dt>
			<img src="@Url.Content(Model.Url)" style="width:100px" />
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Url)
		</dd>

		<dt>
			@Html.DisplayName("Image Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayName("Pullover Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Item.Name)
		</dd>

		<dt>
			@Html.DisplayName("Story Title")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Story.Title)
		</dd>

		<dt>
			@Html.DisplayName("Designer Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Designer.Name)
			@Html.DisplayFor(model => model.Designer.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
