﻿@model Revolver.Models.Image

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Image</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Url)


        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<img src="@Url.Content(Model.Url)" style="width:100px" />
			</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.ItemId, (SelectList)ViewBag.Items, "None Selected", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
			</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StoryId, "Story Title", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.StoryId, (SelectList)ViewBag.Stories, "None Selected", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.StoryId, "", new { @class = "text-danger" })
			</div>
        </div>

		<div class="form-group">
            @Html.LabelFor(model => model.DesignerId, "Designer Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.DesignerId, (SelectList)ViewBag.Designers, "None Selected", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.DesignerId, "", new { @class = "text-danger" })
			</div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.IsThumb, "Thumbnail?", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.CheckBoxFor(model=> model.IsThumb)
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
