﻿@model IEnumerable<Revolver.Models.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Url)
		</th>
		<th>
			@Html.DisplayName("Image Name")
		</th>
		<th>
			@Html.DisplayName("Pullover Name")
		</th>
		<th>
			@Html.DisplayName("Story Title")
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			<img src="@Url.Content(item.Url)" style="width:100px" />
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Story.Title)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>
	</tr>
}

</table>
