﻿@model Revolver.Models.Story

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Story</h4>
    <hr />
	<dl class="dl-horizontal">

		<dt>
			@Html.DisplayName("Story Title")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayName("Author Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AuthorName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Text)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Text)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
