﻿@model Revolver.Models.Story

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
	<dl class="dl-horizontal">

		<dt>
			@Html.DisplayName("Story Title")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayName("Author Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AuthorName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Text)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Text)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
