﻿@model Revolver.Models.Designer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Designer</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayName("Last Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Biography)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Biography)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Quote)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Quote)
		</dd>

		<dt>
			@Html.DisplayName("Additional Text")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AdditionalText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Instagram)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Instagram)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Youtube)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Youtube)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Twitter)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Twitter)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Facebook)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Facebook)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
