﻿@model Revolver.Models.Designer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Designer</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayName("Last Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Biography)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Biography)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Quote)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Quote)
		</dd>

		<dt>
			@Html.DisplayName("Additional Text")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AdditionalText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Instagram)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Instagram)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Youtube)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Youtube)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Twitter)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Twitter)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Facebook)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Facebook)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
