﻿@model IEnumerable<Revolver.Models.Designer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayName("Last Name")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Instagram)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Youtube)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Twitter)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Facebook)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Instagram)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Youtube)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Twitter)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Facebook)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>
	</tr>
}

</table>
