﻿@model Revolver.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
	<dl class="dl-horizontal">

		<dt>
			<img src="@Url.Content(Model.Thumbnail)" style="width:100px" />
		</dt>

		<dd>
		</dd>

		<dt>
			@Html.DisplayName("Pullover Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayName("Collection")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CollectionName)
		</dd>

		<dt>
			@Html.DisplayName("Designer Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Designer.Name)
			@Html.DisplayFor(model => model.Designer.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Excerpt)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Excerpt)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Text)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Text)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
