﻿@model Revolver.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
	<dl class="dl-horizontal">

		<dt>
			<img src="@Url.Content(Model.Thumbnail)" style="width:100px" />
		</dt>

		<dd>
		</dd>

		<dt>
			@Html.DisplayName("Pullover Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayName("Collection")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CollectionName)
		</dd>

		<dt>
			@Html.DisplayName("Designer Name")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Designer.Name)
			@Html.DisplayFor(model => model.Designer.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Excerpt)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Excerpt)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Text)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Text)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.QuantityXS)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuantityXS)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.QuantityS)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuantityS)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.QuantityM)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuantityM)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.QuantityL)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuantityL)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.QuantityXL)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuantityXL)
		</dd>


	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
