﻿@model IEnumerable<Revolver.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
		</th>
		<th>
			@Html.DisplayName("Pullover Name")
		</th>
		<th>
			@Html.DisplayName("Collection")
		</th>
		<th>
			@Html.DisplayName("Designer")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QuantityXS)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QuantityS)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QuantityM)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QuantityL)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QuantityXL)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {


	<tr>
		<td>
			<img src="@Url.Content(item.Thumbnail)" style="width:100px" />
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CollectionName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Designer.Name)
			@Html.DisplayFor(modelItem => item.Designer.LastName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Price)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.QuantityXS)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.QuantityS)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.QuantityM)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.QuantityL)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.QuantityXL)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>
	</tr>
}

</table>
