﻿@model Revolver.Models.OrderItem


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formOrderItem", id = "formOrderItem" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <div style="display:none">
            @Html.HiddenFor(model => model.Item.Id, htmlAttributes: new { @class = "control-label col-md-2", id="itemId" })
        </div>
        <div>
            @Html.LabelFor(model => model.Item.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div>
            @Html.LabelFor(model => model.Item.Designer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
         <div>
            @Html.LabelFor(model => model.Item.Designer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div>
            <img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg" />
        </div>
        <div>
            @Html.LabelFor(model => model.Item.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemSize", null, htmlAttributes: new { @class = "form-control", id="itemSize" })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", id = "itemQuantity" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to Cart" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
			<button id="closePopup" class="btn btn-default btn-md" style="margin-left:30px">Cancel</button>
		</div>
    </div>
}

@*<div>
    @Html.ActionLink("Cancel", "Index")
</div>*@


