﻿@model Revolver.Models.Order



<div class="form-horizontal">
	<span id="HiddenQuantity" style="display:none">@Html.CartQuantity()</span>
	@if (Model != null)
	{
		<div>
			@for (int i = 0; i < Model.OrderItems.Count; i++)
			{
				<div class="order-item-container">
					<img src="@Url.Content(Model.OrderItems[i].Item.Thumbnail)">

					<div class="order-item">
						<div class="order-item-name">@Model.OrderItems[i].Item.Name</div>
						<div class="order-item-author">@Model.OrderItems[i].Item.Designer.Name</div>
						<div class="order-item-author">@Model.OrderItems[i].Item.Designer.LastName</div>
						<div class="order-item-price">@Model.OrderItems[i].OrderPrice€</div>
						<div class="order-item-size"><label class="button-round-cart">@Model.OrderItems[i].Size</label><button id="removeItem" name="@i" class="button-round-cart remove"></button></div>
						<div class="order-item-quantity"><button id="decreaseQuantity" name="@i" class="button-round-cart">-</button><label id="itemQuantity" name="@i" class="button-round-cart">@Model.OrderItems[i].Quantity</label><button id="increaseQuantity" name="@i" class="button-round-cart">+</button></div>
					</div>
				</div>
			}
		</div>
	}
		<div class="order-total-price-container" id="totalPriceOrder"><div class="order-total">TOTAL</div><div class="order-total-price">@Html.CartPriceBeforeDiscount()€</div></div>
	@using (Html.BeginForm("Checkout", "Home", FormMethod.Post, new { name = "formCustomerDetails", id = "formCustomerDetails" }))
	{
			@Html.AntiForgeryToken()


			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.Id)
			@Html.HiddenFor(model => model.UserOrderId)

			<div class="form-group">
				@Html.Label("Full Name", htmlAttributes: new { @class = "col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.Label("Shipping Adress", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CustomerAdress, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CustomerAdress, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.Label("Billing Address", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CustomerAdress2, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CustomerAdress2, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.Label("Zip Code", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.Label("Discount Code", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.DiscountCode, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.DiscountCode, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Confirm" class="btn btn-default" />
				</div>
			</div>


	}

</div>


