﻿@*@model Revolver.Models.Order

@{
    ViewBag.Title = "Checkout";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<div style="margin-left: 5vw; margin-right: 5vw; font-family: Futura; color:white; font-weight: normal; padding-top: 10vw">
		<h4>Order Details</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.Label("Full Name", htmlAttributes: new { @class = "col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Shipping Adress", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CustomerAdress, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CustomerAdress, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Billing Address", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CustomerAdress2, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CustomerAdress2, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Zip Code", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
			@*<div class="col-md-10">
					@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
				</div>*@
		</div>

		@*<div class="form-group">
				@Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
				</div>
			</div>*@

		@*<div class="form-group">
				@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
				</div>
			</div>*@

		<table class="table">
			@*<tr>
				<th>
					@Html.DisplayNameFor(model => model.OrderItems.Item.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Order.CustomerName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.OrderPrice)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Size)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Quantity)
				</th>
				<th></th>
			</tr>*@

			@for (int i = 0; i < Model.OrderItems.Count; i++)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => Model.OrderItems[i].Item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.OrderItems[i].OrderPrice)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.OrderItems[i].Size)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.OrderItems[i].Quantity)
					</td>
					<td>
						@Html.ActionLink("Delete", "Delete", new { id = i })
					</td>
				</tr>
			}

		</table>

		<div class="form-group">
			@Html.Label("Total Price", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
					@Html.CartPriceBeforeDiscount()
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Discount Code", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.DiscountCode, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.DiscountCode, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Confirm" class="btn btn-default" />
			</div>
		</div>
	</div>

</div>
}

<div>
    @Html.ActionLink("Home", "Index")
</div>*@
