﻿@model Revolver.Models.Order

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAdress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAdress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountCodeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountCodeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    <table class="table">
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderItems.Item.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>*@

        @for (int i = 0; i < Model.OrderItems.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderItems[i].Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderItems[i].OrderPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderItems[i].Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderItems[i].Quantity)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
