﻿<div class="half_letters_container">hey@@<div class="half_letters_cover"></div></div>
<div class="half_letters_container">hey@@<div class="half_letters_cover"></div></div>
<div>hey@@</div>
<div>revolver</div>
<div>pullover</div>
<div>.com</div>
<div class="contact-icons">
	<a href="" class="leftfloat"><img src="~/Resources/insta.svg"></a>
	<a href="" class="leftfloat"><img src="~/Resources/yt.svg"></a>
	<a href="" class="rightfloat"><img src="~/Resources/f.svg"></a>
	<a href="" class="rightfloat"><img src="~/Resources/twt.svg"></a>
</div>
<div class="contact-menu">
	<a href="">Terms & Conditions</a>
	<a href="">Privacy Policy</a>
	<a href="">Dispute Resolution</a>
	<a href="">Returns & Refunds</a>
</div>
