﻿@model Revolver.Models.ItemsViewModel

@{
	ViewBag.Title = "Home Page";
}

<div class="home_title_section">
	<div class="half_letters_container">Knitted<div class="half_letters_cover"></div></div>
	<div class="half_letters_container">Knitted<div class="half_letters_cover"></div></div>
	<div class="half_letters_container">Knitted<div class="half_letters_cover"></div></div>
	<div>Knitted</div>
	<div>sweaters</div>
	<div>by</div>
	<div>Eastern</div>
	<div>European</div>
	<div>artists.</div>
</div>
<div id="slideshow">
</div>

<div class="viewing-header">Pullovers<span class="filter">View all</span></div>

@Html.Partial("ProductsPartial", Model)

<script>
	$(document).ready(function () {

		var numberOfSlides = 0;
		var currentPosition = 0;

		getAllStories();

		//klik na slajder kontejner trigeruje pomeranje slajda
		$("body").on("click", "#sliderHolderId", changePosition);

		//Ajax poziv za GET sve STORIES
		function getAllStories() {
			$.ajax({
				type: "GET",
				url: "/Home/GetAllStories",
				dataType: "json"


			}).done(function (data) {
				console.log("done");
				var list = data;
				setTrueStorySlider(list);
			}).fail(function (data) {
				console.log("failed");
				alert(data);
			});
		}


		//postavljanje true story slajdera
		function setTrueStorySlider(data) {

			var $container = $("#slideshow");
			$container.empty();

			console.log(data);
			var sliderHolder = $("<div id='sliderHolderId' class='slider-holder'></div>");

			var buttonHolder = $("<div class='button-holder'></div>");

			var imageHolder = $("<div  id='imageHolderId' class='image-holder'></div>");

			var slides = 0;

			for (i = 0; i < data.length; i++) {

				newId = data[i].Id;
				var slide = $("<div id=" + newId + " class='slider-image'></div>");
				var image = "<img src='../../" + data[i].imageUrl + "'>";

				//var storyId = data[i].storyId;
				//var storyTitle = data[i].storyTitle;
				//var authorName = data[i].storyAuthorName;
				//console.log(storyId);
				//console.log(storyTitle);
				//console.log(authorName);

				//var button = "<a href='/Home/Story/"+ storyId + "class='button'>True Story</a>";
				// prikaz dugmadi za izmenu i brisanje
				var button = "<a class='button truestory' href='/Home/Story/" + data[i].storyId + "'>True Story</a> ";
				var storyTitle = "<div class='story-title'>" + data[i].storyTitle + "</div>";
				var authorName = "<div class='story-author-name'>by " + data[i].storyAuthorName + "</div>";

				var storyData = $("<div class='story-data'></div>");
				storyData.append(storyTitle);
				storyData.append(authorName);


				slide.append(image);
				slide.append(button);
				slide.append(storyData);

				imageHolder.append(slide);


				slides++;
			}

			numberOfSlides = slides;
			console.log(numberOfSlides);

			sliderHolder.append(imageHolder);
			sliderHolder.append(buttonHolder);
			$container.append(sliderHolder);

			var slideWidth = $('.slider-image').css('width');
			slideWidth = (parseFloat(slideWidth)+11) * numberOfSlides;
			$(".image-holder").css("width", slideWidth);

		}


		function changePosition() {

			if (currentPosition === numberOfSlides - 1) {
				currentPosition = 0;
			} else {
				currentPosition++;
			}

			var slideWidth = $('.slider-image').css('width');

			moveSlide(slideWidth, -currentPosition);
		}


		function moveSlide(slideWidth, currentPosition) {

			console.log(slideWidth + ", " + currentPosition);
			var slider = parseFloat(slideWidth) * currentPosition;

			$('#sliderHolderId')
				.animate({ 'marginLeft': slider });
		}

	});


</script>

