﻿<div class="menu-links">
	<div>@Html.ActionLink("home", "Index", "Home", new { area = "" })</div>
	<div>@Html.ActionLink("pullovers", "Products", "Home", new { area = "" })</div>
	<div>stories</div>
	<div class="cart-btn"><button id="cart-button">cart</button><span class="CartQuantity">@Html.CartQuantity()</span></div>
</div>
<div id="cart-dropdown" style="display:none">
</div>
<div class="contact-section">
	@Html.Partial("ContactTable")
</div>