﻿@model Revolver.Models.OrderItem

@{
    ViewBag.Title = "Product";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formOrderItem", id = "formOrderItem" }))
{
    @Html.AntiForgeryToken()

    <div class="container-product-name">
        @Model.Item.Name
    </div>
    <br/>
    <div class="container-author-name">
        <div>Designed By</div>
        <div>@Model.Item.Designer.Name @Model.Item.Designer.LastName</div>
    </div>
    <div>
        <div style="display:none">
            @Html.HiddenFor(model => model.Item.Id, htmlAttributes: new { @class = "control-label col-md-2", id = "itemId" })
            @Html.HiddenFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2", id = "itemSize" })
        </div>
        <div id="slideshowItem">

        </div>
        <div class="row-product">
            <div class="column1 left1">
                <div class="price-product">@Model.Item.Price€</div>
            </div>
            <div class="column1 middle1">
				<button id="btnAddToCart" name="cartAction" class="button-product">Add to Cart</button>
            </div>
			<div class="column1 right1">
				<button id="btnBuyNow" name="cartAction" class="button-product">Buy Now</button>
			</div>
        </div>
        <div class="row-product">
            <div class="column left">
                <div class="product-small-text">Choose Available Size</div>
                @if (Model.Item.QuantityXS > 0)
                {
                    var selectedClass = "";
                    if (Model.Size == Revolver.Models.ItemSize.XS)
                    {
                        selectedClass = "btn-item-selected";
                    }

                    <button id="btnXS" type="button" class="button-round btn-item-available @selectedClass">XS</button>
                }
                else
                {
                    <button id="btnXS" type="button" class="button-round btn-item-unavailable">XS</button>
                }

                @if (Model.Item.QuantityS > 0)
                {
                    var selectedClass = "";
                    if (Model.Size == Revolver.Models.ItemSize.S)
                    {
                        selectedClass = "btn-item-selected";
                    }

                    <button id="btnS" type="button" class="button-round btn-item-available @selectedClass">S</button>
                }
                else
                {
                    <button id="btnS" type="button" class="button-round btn-item-unavailable">S</button>
                }

                @if (Model.Item.QuantityM > 0)
                {
                    var selectedClass = "";
                    if (Model.Size == Revolver.Models.ItemSize.M)
                    {
                        selectedClass = "btn-item-selected";
                    }

                    <button id="btnM" type="button" class="button-round btn-item-available @selectedClass">M</button>
                }
                else
                {
                    <button id="btnM" type="button" class="button-round btn-item-unavailable">M</button>
                }

                @if (Model.Item.QuantityL > 0)
                {
                    var selectedClass = "";
                    if (Model.Size == Revolver.Models.ItemSize.L)
                    {
                        selectedClass = "btn-item-selected";
                    }

                    <button id="btnL" type="button" class="button-round btn-item-available @selectedClass">L</button>
                }
                else
                {
                    <button id="btnL" type="button" class="button-round btn-item-unavailable">L</button>
                }

                @if (Model.Item.QuantityXL > 0)
                {
                    var selectedClass = "";
                    if (Model.Size == Revolver.Models.ItemSize.XL)
                    {
                        selectedClass = "btn-item-selected";
                    }

                    <button id="btnXL" type="button" class="button-round btn-item-available @selectedClass">XL</button>
                }
                else
                {
                    <button id="btnXL" type="button" class="button-round btn-item-unavailable">XL</button>
                }
            </div>
        @* TODO: napraviti stranice i linkove ka stranicama za Size guide i Shipping Info *@
            <div class="column middle">
                <div class="product-small-text">Size guide</div>
                <button class="button-round btn-guide size"></button>
            </div>
            <div class="column right">
                <div class="product-small-text">Shipping Info</div>
                <button type="button" class="button-round btn-guide shipping"></button>
            </div>
        </div>
        @* TODO: Dinamicki sadrzaj za autora i product *@
        <div class="product-small-excerpt">
            Interested in words and pictures. Work that frequently mutates from medium to medium, a honest sketch becoming a poem becoming a sculpture, becoming a shirt, a poster...
        </div>
        <div class="product-large-excerpt">
            Eighty years I’ve been chasing happiness, and it was useless. And then I decided to live without happiness and just enjoy life. That’s why I’m whatever now.
        </div>
        <div class="product-author-container">
            <img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg">
        </div>
        <div class="product-author-container2">
            <p>@Model.Item.Designer.Name @Model.Item.Designer.LastName</p>
        </div>
        <div class="row-product2">
            <div class="column2 left2"><img src="">Icon</div>
            <div class="column2 middleleft"><img src="">Icon</div>
            <div class="column2 middleright"><img src="">Icon</div>
            <div class="column2 right2"><img src="">Icon</div>
        </div>
        <div class="designer-biography-container">
            Interested in words and pictures. Work that frequently mutates from medium to medium, a honest sketch becoming a poem becoming a sculpture becoming a shirt, a poster, a performance, a sound, a look, a touch…
        </div>
        <div class="designer-biography-container">
            Dragana Krtinić, born in 1992. in Zagreb. Graduated from two Graphic Design Faculties, one traditional and other in the field of Digital Arts. Currently working as a multidisciplinary designer and illustrator. Participated in numerous exhibitions (FORMA\ ФОРМА; GRIFON- Serbian Graphic Collective; Young Balkan Designers and many more.) Part of City Guerilla Creative Lab since 2014.

            Selected Clients & Collaborations:
            Goethe-Institut, Nova Iskra, DACIDA, Gir Store, Nelt Educational Programme, European Neuroscience Conference
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script>

	$(document).ready(function () {

        //klik na sliderHolder trigeruje pomeranje slike
		$("body").on("click", "#sliderHolderId", changePosition);

		$(function () {
			var index = $("#itemId").val();
			productLoaded(index);
		});

		var numberOfSlides = 0;
		var currentPosition = 0;


        //akcija ProductImages preuzima slike vezane za Product i salje ih u setItemSlider koja namesta slajder
		function productLoaded(index) {

			$.ajax({
				type: "GET",
				url: "/Home/ProductImages/" + index,
				dataType: "json"


			}).done(function (data) {
				console.log("done");
				var productImages = data;
				setItemSlider(productImages);
			}).fail(function (data) {
				console.log(data);
			});

		}

        //namesta dinamicki slajder
		function setItemSlider(productImages) {

			var $container = $("#slideshowItem");
			$container.empty();

			console.log(productImages);
			var sliderHolder = $("<div id='sliderHolderId' class='slider-holder'></div>");

			var imageHolder = $("<div  id='imageHolderId' class='image-holder'></div>");

			var slides = 0;

			for (i = 0; i < productImages.length; i++) {

				newId = productImages[i].Id;
				var slide = $("<div id=" + newId + " class='slider-image'></div>");
				var image = "<img src='../../" + productImages[i].url + "'>";

				slide.append(image);

				imageHolder.append(slide);

				slides++;
			}

			numberOfSlides = slides;
			console.log(numberOfSlides);

			sliderHolder.append(imageHolder);
			$container.append(sliderHolder);

			var slideWidth = $('.slider-image').css('width');
			slideWidth = (parseFloat(slideWidth)+11) * numberOfSlides;
			$(".image-holder").css("width", slideWidth);

		}

		function changePosition() {

			if (currentPosition === numberOfSlides - 1) {
				currentPosition = 0;
			} else {
				currentPosition++;
			}

			var slideWidth = $('.slider-image').css('width');

			moveSlide(slideWidth, -currentPosition);
		}


		function moveSlide(slideWidth, currentPosition) {

			console.log(slideWidth + ", " + currentPosition);
			var slider = parseFloat(slideWidth) * currentPosition;

			$('#sliderHolderId')
				.animate({ 'marginLeft': slider });
		}

	});
</script>

