﻿@model Revolver.Models.ItemsViewModel

<div class="collection">
	<div class="image-collection">
		<img src="/Resources/FallWinter.png">
	</div>
	<div class="colection-name">
		<div class="half_letters_container">Fall<div class="half_letters_cover"></div> </div>
		<div class="half_letters_container">Fall<div class="half_letters_cover"></div> </div>
		<div>Fall - Winter 19</div>
	</div>
</div>
<div id="pullovers">
	<div class="products-section">
		@for (int i = 0; i < @Model.ItemsWinter.Count(); i++)
		{
			var product = @Model.ItemsWinter.ElementAt(i);
			<a href="/Home/Product/@product.Id" class="image-container">

				<img src="@Url.Content(product.Thumbnail)">

				<div class="description">
					<p class="description-name">@product.Name </p>
					<p class="description-author">@product.Designer.Name</p>
					<p class="description-author">@product.Designer.LastName</p>
					<p class="description-price">@product.Price€</p>
				</div>
			</a>
		}
	</div>
</div>
<div class="collection">
	<div class="image-collection">
		<img src="/Resources/FallWinter.png">
	</div>
	<div class="colection-name">
		<div class="half_letters_container">Spring<div class="half_letters_cover"></div> </div>
		<div class="half_letters_container">Spring<div class="half_letters_cover"></div> </div>
		<div>Spring- Summer 19</div>
	</div>
</div>
<div id="pullovers">
	<div class="products-section">
		@for (int i = 0; i < @Model.ItemsSpring.Count(); i++)
		{
			var product = @Model.ItemsSpring.ElementAt(i);

			<a href="/Home/Product/@product.Id" class="image-container">

				<img src="@Url.Content(product.Thumbnail)">

				<div class="description-wider">
					<p class="description-name">@product.Name </p>
					<p class="description-author">@product.Designer.Name</p>
					<p class="description-author">@product.Designer.LastName</p>
					<p class="description-price">@product.Price€</p>
				</div>
			</a>
		}
	</div>
</div>
