﻿@model Revolver.Models.Story

@{
	ViewBag.Title = "TrueStory";
}

<!DOCTYPE html>

<div style="display:none">
	@Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2", id = "storyId" })
</div>

<div style="background-color: black">
	<div class="true_story_title_section">
		@Model.Title
	</div>
	<div class="title-by">
		<div>by @Model.AuthorName</div>
		<div>
			@Model.Text
		</div>
	</div>
	<div id="slideshowStory"></div>
	<div class="description-story">
		@Model.Text
	</div>


	<div class="sweater">
		<div class="sweater-information">
			<p class="sweater-name">Lucky Strike</p>
			<p class="sweater-author">Filip Scekic</p>
			<p class="sweater-price">39€</p>
		</div>
		<div class="sweater-image">
			@*<img src="images/portrait_view.png" />*@
		</div>
		<div class="sweater-button">
			<button class="button-sweater">Check Out</button>
		</div>
	</div>

	<div class="sweater-description title-by">
		@Model.Text
	</div>

	<!--TODO Fali share story i other pullovers koji su mozda isto saljder-->
</div>


<script>

		$(document).ready(function () {

			$("body").on("click", "#sliderHolderId", changePosition);

			$(function () {
				var index = $("#storyId").val();
				storyLoaded(index);
			});



			var numberOfSlides = 0;
			var currentPosition = 0;



			function storyLoaded(index) {
				//console.log("loaded");
				//console.log(index);
				$.ajax({
					type: "GET",
					url: "/Home/StoryImages/" + index,
					dataType: "json"


				}).done(function (data) {
					console.log("done");
					var storyImages = data;
					setStorySlider(storyImages);
				}).fail(function (data) {
					console.log(data);
				});

			}

			function setStorySlider(storyImages) {

				var $container = $("#slideshowStory");
				$container.empty();

				var sliderHolder = $("<div id='sliderHolderId' class='slider-holder'></div>");

				var imageHolder = $("<div  id='imageHolderId' class='image-holder'></div>");

				var slides = 0;

				for (i = 0; i < storyImages.length; i++) {

					newId = storyImages[i].Id;
					var slide = $("<div id=" + newId + " class='slider-image'></div>");
					var image = "<img src='../../" + storyImages[i].url + "'>";

					slide.append(image);

					imageHolder.append(slide);

					slides++;
				}

				numberOfSlides = slides;
				console.log(numberOfSlides);

				sliderHolder.append(imageHolder);
				$container.append(sliderHolder);

				var slideWidth = $('.slider-image').css('width');
				slideWidth = (parseFloat(slideWidth)+11) * numberOfSlides;
				$(".image-holder").css("width", slideWidth);

			}

			function changePosition() {

				if (currentPosition === numberOfSlides - 1) {
					currentPosition = 0;
				} else {
					currentPosition++;
				}

				var slideWidth = $('.slider-image').css('width');

				moveSlide(slideWidth, -currentPosition);
			}


			function moveSlide(slideWidth, currentPosition) {

				console.log(slideWidth + ", " + currentPosition);
				var slider = parseFloat(slideWidth) * currentPosition;

				$('#sliderHolderId')
					.animate({ 'marginLeft': slider });
			}

		});
	</script>

