﻿
/*@font-face {
	font-family: 'futuraconmed';
	src: url('../fonts/Futura-CondensedMedium-04.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}*/


@font-face {
	font-family: futura;
	src: url('../fonts/Futura-Medium-01.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: futura;
	src: url('../fonts/Futura-Bold-03.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


/*klase koje vaze za sve mediaquery-je*/
.home_body {
	position: relative;
	width: 100%;
	background-color: #deb9ca;
	font-family: futura, sans-serif;
}


/*klase slajder na svakoj stranici*/
.slider-holder {
	/*margin-left: 2vw;*/
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
	overflow: hidden;
	height: 115vw;
}

.image-holder {
	clear: both;
	height: 115vw;
	position: relative;
	/*-webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;*/
}

.slider-image {
	float: left;
	margin: 0px;
	position: relative;
	width: 90vw;
	height: 115vw;
	box-sizing: border-box;
}

	.slider-image img {
		width: 89vw;
		height: auto;
	}


.button-holder {
    position: relative;
    top: -20px;
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}

.overlapping {
    line-height: 15px;
    background-color: white;
}

.overlappingtext {
    font-size: 30px;
    padding: 10px;
    background-color: white;
}

.footersubscribe {
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footeremail {
    color: black;
    font-size: 18px;
    text-align: center;
}


/*//neki mob*/
@media only screen and (min-width: 320px) and (max-width : 600px) {

	/*Product Page*/
	.container-product-name {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		height: 30%;
		padding: 15% 3% 0% 2.5vw;
		font-size: 13.5vw;
		line-height: 13vw;
		color: white;
		font-weight: bold;
	}

	.container-author-name {
		box-sizing: border-box;
		width: 60%;
		height: 20%;
		padding: 0% 3% 5% 2.5vw;
		font-size: 3.5vw;
		line-height: 4vw;
		color: black;
	}

	/* Create three unequal columns that floats next to each other */
	.column {
		float: left;
		/*box-sizing: border-box;*/
		padding: 0vw 5vw 5vw 2.5vw;
	}

	.left {
		width: 50%;
	}

	.middle {
		width: 25%;
	}

	.right {
		width: 25%;
		padding-left: 0;
	}

	.column1 {
		float: left;
		/*box-sizing: border-box;*/
		padding: 0vw 2vw 5vw 2.5vw;
	}

	.left1 {
		width: 40%;
	}

	.middle1 {
		width: 20%;
		padding-left: 0;
		padding-right: 0;
	}

	.right1 {
		width: 30%;
	}


	/* Clear floats after the columns */
	.row-product:after {
		content: "";
		display: table;
		clear: both;
	}


	.column2 {
		float: left;
		box-sizing: border-box;
		/*padding: 0vw 2vw 5vw 2.5vw;*/
		position: relative;
	}

	.left2 {
		width: 25%;
	}

	.middleleft {
		width: 25%;
	}

	.middleright {
		width: 25%;
	}

	.right2 {
		width: 25%;
	}

	.row-product2 {
		box-sizing: border-box;
		width: 60%;
		padding-left: 20%;
		padding-right: 20%;
	}

		.row-product2:after {
			content: "";
			display: table;
			clear: both;
		}


	.price-product {
		color: white;
		font-size: 15vw;
	}

	.product-small-text {
		color: black;
		font-size: 2.5vw;
		padding-bottom: 2vw;
	}

	.product-small-excerpt {
		box-sizing: border-box;
		color: black;
		font-size: 2.5vw;
		padding: 0vw 5vw 5vw 2.5vw;
		text-align: left;
	}

	.product-large-excerpt {
		box-sizing: border-box;
		color: white;
		font-size: 8.5vw;
		padding: 0vw 6.5vw 5vw 2.5vw;
		text-align: left;
	}


	.product-author-container {
		position: relative;
		/*box-sizing: border-box;*/
		width: 100%;
		height: 100%;
		padding-top: 5vw;
		/*z-index: 0;*/
	}

		.product-author-container > img {
			width: 100%;
			height: 70%;
			padding-left: 20%;
			padding-right: 20%;
		}

		.product-author-container > p {
			position: absolute;
			width: 100%;
			height: auto;
			font-weight: bold;
			font-size: 14vw;
			color: #ffffff;
			text-align: center;
			line-height: 16vw;
		}

	.product-author-container2 {
		position: relative;
		box-sizing: border-box;
		text-wrap: normal;
		width: 100%;
		height: 20vw;
		padding-top: 0;
		margin-bottom: 7vw;
		/*z-index: 0;*/
	}

		.product-author-container2 > p {
			position: absolute;
			top: -50%;
			width: 100%;
			height: auto;
			font-weight: bold;
			font-size: 13.5vw;
			color: #ffffff;
			text-align: center;
			line-height: 16vw;
		}

	.designer-biography-container {
		box-sizing: border-box;
		color: white;
		font-size: 3vw;
		padding: 0vw 10vw 5vw 10vw;
		text-align: center;
	}

	.button-product {
		position: relative;
		top: 5vw;
		background-color: transparent;
		color: black;
		font-size: 2.5vw;
		border: 1px solid black;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding-left: 3vw;
		padding-right: 3vw;
		height: 5vw;
		border-radius: 25px;
	}

	.button-round {
		font-size: 2vw;
		border: 1px solid black;
		height: 7vw;
		width: 7vw;
		text-align: center;
		align-items: center;
		border-radius: 50%;
		justify-content: center;
		color: black;
	}

	.btn-guide {
		background-color: transparent;
		background-position: center;
		display: inline-flex;
		flex-direction: column;
	}

	.btn-item-available {
		display: inline-flex;
		flex-direction: column;
		background-color: transparent;
	}

	.btn-item-unavailable {
		background-color: transparent;
		position: relative;
		display: inline-block;
	}

		.btn-item-unavailable::before, .btn-item-unavailable::after {
			content: '';
			width: 60%;
			position: absolute;
			right: 20%;
			top: 50%;
		}

		.btn-item-unavailable::before {
			border-bottom: 1px solid black;
			-webkit-transform: skewY(-30deg);
			transform: skewY(-30deg);
		}


	.btn-item-selected {
		background-color: white;
		display: inline-flex;
		flex-direction: column;
	}


	.size {
		background-image: url("/Resources/msrmts.svg");
	}

	.shipping {
		background-image: url("/Resources/shppng.svg");
	}

	.remove {
		background-image: url("/Resources/knta.svg");
	}



	/*Index stranica klase*/
	/*naslov index stranice*/
    .home_title_section {
        box-sizing: border-box;
        position: relative;
        padding: 20% 15% 15% 15%;
        width: 100%;
        font-size: 15vw;
        line-height: 15vw;
        color: #ffffff;
        font-weight: bold;
    }

    .half_letters_container {
        position: relative;
        width: 100%;
        height: 9vw;
        overflow: hidden;
    }

    .viewing-header {
        padding: 10px;
        font-size: 3vw;
        color: #000000;
    }

    .filter {
        float: right;
    }

	/*True story slider data na index stranici*/
	.story-data {
		position: absolute;
		box-sizing: border-box;
		width: 60%;
		height: 30%;
		padding: 0%, 10%, 0%, 15%;
		text-align: left;
		top: 15%;
		left: 10%;
	}

	.story-title {
		font-size: 13vw;
		color: lightpink;
		line-height: 12.5vw;
		font-weight: bold;
	}

	.story-author-name {
		font-size: 3vw;
		color: white;
		padding-top: 3vw;
	}

	.button {
		position: absolute;
		top: 83%;
		left: 65%;
		/*transform: translate(-50%, -50%);*/
		/*-ms-transform: translate(-50%, -50%);*/
		background-color: transparent;
		color: white;
		font-size: 3.5vw;
		border: 1.5px solid white;
		padding-left: 4vw;
		padding-right: 4vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
		border-radius: 6vw;
	}


	/*header za naziv kolekcije*/
	.collection {
		padding: 10% 10px 10% 10px;
		position: relative;
		width: 100%;
		height: 80vw;
		box-sizing: border-box;
	}

	.image-collection {
		position: relative;
		box-sizing: border-box;
		float: right;
		border: solid #deb9ca 10px;
	}
	.image-collection > img {
		padding-top:1vw;
		width: 50%;
		height: 100%;
		float: right;
	}

	.colection-name {
		width: 70%;
		font-weight: bold;
		font-size: 15vw;
		text-transform: uppercase;
		color: #ffffff;
		line-height: 15vw;
		font-weight: bold;
		position: absolute;
	}


	/*items layout*/
	#pullovers {
		height:auto;
		overflow: auto;

	}

    .products-section {
        position: relative;
        width: 100%;
		height: auto;
        box-sizing: border-box;
		
    }

    .image-container {
        position: relative;
        box-sizing: border-box;
        float: left;
        border: solid #deb9ca 10px;
        width: 50%;
        /*z-index: 0;*/
    }

        .image-container:hover {
            cursor: pointer;
        }

        .image-container > img {
            width: 100%;
            height: 100%;
        }

	.description {
		position: absolute;
		top: 0;
		left: 0;
		width: 70%;
		height: 100%;
		padding: 5px;
	}

	.description-wider {
		position: absolute;
		top: 0;
		left: 0;
		width: 90%;
		height: 100%;
		padding: 5px;
	}

	.description-name {
		margin: 0;
		font-weight: bold;
		font-size: 5vw;
		color: #ffffff;
		text-transform: uppercase;
	}

	.description-author {
		margin: 0;
		padding-top: 5px;
		font-size: 3vw;
		color: #000000;
	}

	.description-price {
		margin: 0;
		padding-top: 20px;
		font-size: 5vw;
		color: #ffffff;
		text-transform: uppercase;
	}




	/*Cart stranica - layout za pojedinacni item*/
	.order-item-container {
		position: relative;
		box-sizing: border-box;
		border: solid #deb9ca 10px;
		width: 100%;
		height: 55vw;
		padding-left: 30%;

	}

		.order-item-container > img {
			width: 60%;
			height: auto;
		}


	.order-item {
		position: absolute;
		top: 0;
		left: 0;
		width: 90%;
		height: 100%;
		/*width: 70%;
        height: 50vw;*/
		padding-top: 2vw;
		padding-bottom: 2vw;
		margin-left: 5vw;
		margin-right: 5vw;
		border-bottom: solid white 1px;
	}

	.order-item-name {
		width: 60%;
		margin: 0;
		font-weight: bold;
		font-size: 5vw;
		color: #ffffff;
		text-transform: uppercase;
		padding-top: 3vw;
	}

	.order-item-author {
		margin: 0;
		padding-top: 5px;
		font-size: 3vw;
		color: #000000;
	}

	.order-item-price {
		position: absolute;
		margin: 0;
		font-size: 15vw;
		color: #ffffff;
		text-transform: uppercase;
		bottom: 0;
		right: 2%;
	}


	.order-item-size {
		position: absolute;
		bottom: 5vw;
	}

		.order-item-size button {
			background-color: transparent;
			color: white;
		}

		.order-item-size label {
			background-color: white;
			color: #deb9ca;
			display: inline-flex;
			/*flex-direction: column;*/
			margin-bottom: 0;
			margin-right: 2vw;
		}


	.button-round-cart {
		border: 1px solid white;
		font-size: 2vw;
		height: 7vw;
		width: 7vw;
		text-align: center;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		float: left;
	}

	.order-item-quantity {
		position: absolute;
		top: 5vw;
		right: 2%;
	}

		.order-item-quantity button {
			background-color: transparent;
			color: white;
			display: inline-flex;
		}

		.order-item-quantity label {
			background-color: white;
			color: #deb9ca;
			display: inline-flex;
			margin-left: 2vw;
			margin-right: 2vw;
		}

	/*total price section na cart stranici*/
	.order-total-price-container {
		position: relative;
		height: 20vw;
		box-sizing: border-box;
		color: #ffffff;
		text-transform: uppercase;
		padding-right: 7vw;
		padding-left: 7vw;
	}

	.order-total {
		font-weight: bold;
		font-size: 5vw;
		float: left;
		padding-top: 4vw;
	}

	.order-total-price {
		font-size: 15vw;
		float: right;
	}


	/*True story stranica*/
	.true_story_body {
		position: relative;
		width: 100%;
		background-color: #000000;
	}

	.true_story_title_section {
		box-sizing: border-box;
		position: relative;
		padding: 20% 5% 10% 5%;
		width: 70%;
		font-size: 15vw;
		line-height: 15vw;
		color: #deb9ca;
		font-weight: bold;
	}

	.title-by {
		font-size: 3.5vw;
		color: #ffffff;
		line-height: normal;
	}

		.title-by > div {
			padding: 0 5% 10% 5%;
		}

	.description-story {
		box-sizing: border-box;
		color: #ffffff;
		font-size: 8vw;
		padding: 10% 5%;
	}

	.sweater {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		padding: 6vw;
	}

	.sweater-image {
		width: 45%;
		display: inline-block;
	}

		.sweater-image > img {
			width: 100%;
		}

	.sweater-button {
		padding-left: 5vw;
		height: 100%;
		/*width: 25%;*/
		/*align-items: end;*/
		float: right;
		/*bottom: 0;*/
	}

		.sweater-button button {
			/*position: absolute;*/
			display: inline-block;
			/*width: 25%;*/
			/*bottom: -5vw;*/
			/*right: -5vw;*/
			/*top: 5vw;*/
			background-color: transparent;
			color: #ffffff;
			font-size: 2.5vw;
			border: 1px solid #ffffff;
			text-align: center;
			justify-content: center;
			align-items: center;
			padding-left: 3vw;
			padding-right: 3vw;
			height: 5vw;
			border-radius: 25px;
			vertical-align: baseline;
		}

	.sweater-information {
		box-sizing: border-box;
		padding: 0 5vw;
		width: 30%;
		float: left;
	}

	.sweater-name {
		margin: 0;
		font-weight: bold;
		font-size: 5vw;
		color: #ffffff;
		text-transform: uppercase;
	}

	.sweater-author {
		margin: 0;
		padding-top: 5px;
		font-size: 3vw;
		color: #deb9ca;
	}

	.sweater-price {
		margin: 0;
		padding-top: 20px;
		font-size: 5vw;
		color: #ffffff;
		text-transform: uppercase;
	}

	.sweater-description {
		padding: 20% 5% 10% 5%;
	}


	/*Layout footer*/
	.bottom-section {
		background-color: #deb9ca;
	}

	.subscription-section {
		margin: 0 15% 13% 15%;
		padding-top: 15%;
		clear: both;
		font-weight: bold;
		text-align: center;
	}

	.subscription-title {
		color: #ffffff;
		font-size: 5vw;
		text-transform: uppercase;
	}

	.subscription-amount {
		padding-top: 7%;
		color: #000000;
		font-size: 15vw;
		text-transform: uppercase;
	}

	.subscription-email {
		position: relative;
		border: 1px solid #000000;
		border-radius: 2px;
		background-color: #deb9ca;
		font-weight: bold;
		font-size: 2vw;
		text-align: start;
	}

		.subscription-email > input {
			line-height: 6vw;
			left: 0;
			padding-left: 2vw;
			border: 0;
			background-color: #deb9ca;
			font-style: italic;
			cursor: pointer;
			text-align: left;
			outline-color: #deb9ca;
		}

		.subscription-email:hover {
			cursor: pointer;
		}

	.subscription-button {
		/*position: absolute;*/
		/*right: 0;
		border: 0;
		background-color: #deb9ca;
		cursor: pointer;
		text-align: center;
		outline-color: #deb9ca;*/
		padding-top: 2vw;
	}

		.subscription-button>button {
			/*position: absolute;*/
			top: 83%;
			left: 65%;
			/*transform: translate(-50%, -50%);*/
			/*-ms-transform: translate(-50%, -50%);*/
			background-color: white;
			color: black;
			font-size: 2vw;
			border: 1.5px solid white;
			padding-left: 6vw;
			padding-right: 6vw;
			padding-top: 1.5vw;
			padding-bottom: 1.5vw;
			border-radius: 6vw;
		}

		.subscription-button:hover {
			cursor: pointer;
		}


	.instagram-section {
		margin: 0 10vw 10vw 10vw;
		/*padding-top: 15%;*/
		clear: both;
		font-weight: bold;
		text-align: center;
		padding-bottom: 18%;
	}

	.instagram-text {
		color: #ffffff;
		font-size: 5vw;
		line-height: 6vw;
		text-transform: uppercase;
		padding-bottom: 4vw;
		font-weight: bold;
	}

	.instagram-text2 {
		color: black;
		font-size: 3.5vw;
		padding-bottom: 5vw;
	}

	.social-buttons {
		padding-left: 8vw;
		padding-right: 8vw;
		padding-top: 4vw;

	}

	.button-igfollow {
		/*position: absolute;*/
		background-color: white;
		color: black;
		font-size: 3vw;
		float:left;
		border: 1.5px solid black;
		padding-left: 15vw;
		padding-right: 15vw;
		text-align: center;
		padding-top: 1vw;
		padding-bottom: 1vw;
		border-radius: 0.5vw;
	}

	.button-fblike {
		background-color: transparent;
		color: black;
		font-size: 3vw;
		float: right;
		border: none;
		padding-left: 1vw;
	}

	.fb-like-img {
		width: 8vw;
		height: auto;
	
	}

	/*Contact footer*/
	.contact-section {
		box-sizing: border-box;
		position: relative;
		border: #000000 solid 15px;
		padding: 15% 0 15% 0;
		width: 100%;
		font-size: 15vw;
		line-height: 15vw;
		color: #000000;
		font-weight: bold;
		text-align: center;
	}

	.contact-icons {
		height: 10vw;
		width: 100%;
		padding-left: 25%;
		padding-right: 25%;
	}

		.contact-icons .leftfloat {
			position: relative;
			box-sizing: border-box;
			float: left;
			border: solid #deb9ca 5px;
			width: 20%;
			margin-left: 2vw;
		}

		.contact-icons .rightfloat {
			position: relative;
			box-sizing: border-box;
			float: right;
			border: solid #deb9ca 5px;
			width: 20%;
			margin-right: 2vw;
		}

		.contact-icons a img {
			width: 80%;
			height: 80%;
		}


	.contact-menu {
		margin: 10% 0 0 0;
		font-size: 3vw;
		line-height: 3.5vw;
	}

		.contact-menu > a {
			display: block;
			color: #000000;
			text-decoration: none;
		}


	/*R-menu and menu overlay*/
	.overlay {
		background-color: #deb9ca;
		display: none;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		overflow-x: hidden;
		transition: 0.5s;
	}


	.overlay-content {
		position: relative;
		top: 30%;
		/*width: 100%;*/
		text-align: center;
		margin-top: 30px;
		color: black;
		font-size: 4vw;
		padding-top: 5vw;
		padding-left: 20vw;
		padding-right: 20vw;
	}

	.r-menu {
		position: fixed;
		padding: 10px 20px;
		/*float: right;*/
		right: 0;
		bottom: 0;
		/*content: "R";*/
		color: #24ff00;
		font-size: 18vw;
		/*width: 10%;*/
		height: fit-content;
		font-weight: bold;
		font-style: italic;
		text-align: right;
		cursor: pointer;
	}

		.r-menu > button {
			border: none;
			content: "R";
			color: #24ff00;
			font-size: 20vw;
			/*width: 10%;*/
			/*height: fit-content;*/
			font-weight: bold;
			font-style: italic;
			text-align: right;
		}

	.CartQuantity {
		font-size: 6vw;
		vertical-align: super;
		color: #24ff00;
	}

	/*Newsletter subscription popup*/
	.close-button {
		position: fixed;
		padding-right:20vw; 
		float: right;
		right: 0;
		top: 30%;
		/*content: "R";*/
		color: white;
		/*width: 10%;*/
		height: fit-content;
		font-weight: bold;
		text-align: right;
		cursor: pointer;
	}

		.close-button > button {
			border: none;
			content: "X";
			color: white;
			font-size: 5vw;
			/*width: 10%;*/
			/*height: fit-content;*/
			font-weight: bold;
			text-align: right;
		}


	/*proba klasa za SLIDESHOW*/

	#slideshow #slideshowWindow {
		width: 512px;
		height: 384px;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
	}

		#slideshow #slideshowWindow .slide {
			margin: 0;
			padding: 0;
			width: 512px;
			height: 384px;
			float: left;
			position: relative;
		}


	#slideshow {
	}

	.menu-links {
		font-weight: bold;
		font-size: 17vw;
		color: black;
		text-align: center;
		padding-top: 20%;
		padding-bottom: 20%;
		padding-left: 10%;
		padding-right: 10%;
	}

		.menu-links a {
			color:black;
		}

	.cart-btn {	
	}

		.cart-btn button {
			background-color: transparent;
			color: black;
			border: none;
		}

}






