﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="Site.css">*@
	<title>@ViewBag.Title - Revolver Pullover</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")

</head>
<body class="home_body">
    @RenderBody()
    <footer>
		<div class="bottom-section">
			<div class="subscription-section">
				<div class="subscription-title">Subscribe & get</div>
				<div class="subscription-amount">-10% OFF</div>
				<div class="subscription-email">
					<input id="emailNewsletter" placeholder="Your Email" />
				</div>
				<div class="subscription-button">
					<button id="subscribeButton">Subscribe</button>
				</div>
			</div>
			<div class="instagram-section">
				<div class="instagram-text">This is our collection with you. Share your story, share your style with us.</div>
				<div class="instagram-text2">#revolverpullover</div>
				<div class="social-buttons">
					<button class="button-igfollow">Follow</button><button class="button-fblike"><img class="fb-like-img" src="~/Resources/like.png" />Like</button>
				</div>
			</div>
			<!--    TODO fali onaj deo ceo oza instagram i fb like-->
			<div class="contact-section">
				@Html.Partial("ContactTable")
			</div>
			<div class="r-menu" id="openMenu"><sup class="CartQuantity">@Html.CartQuantity()</sup><span>R</span></div>
			<div id="menu" class="overlay">
				@Html.Partial("Menu")
				<div class="r-menu" id="closeMenu"><sup class="CartQuantity">@Html.CartQuantity()</sup><span>R</span></div>
			</div>
			<div id="subscription" class="overlay">
				<div class="close-button" id="closeSubscription">X</div>
				<div class="overlay-content" id="subscriptionPopup"></div>
			</div>
		</div>
    </footer>
    @*</div>*@
    @Scripts.Render("~/Scripts/Revolver.js")
    @RenderSection("scripts", required: false)
    @*<script type="text/javascript">
        function clickcont() {
        console.log("kliknuto je govno kontejner");
        }
    </script>*@
</body>
</html>
